body{
    background: linear-gradient(to bottom , plum, #000000);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}
.nice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font: size 50px;
    color: #ffffff;
    
    
    
}
.nice img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 5em;
    box-shadow: 10px 10px 15px rgba(1.5, 0.5, 0.5, 2.5);
}

.nice p {
    font-size: 30px;
    margin: 0%;
    border: solid 5px pink;
    border-radius: 25px;
    padding: 50px;
    background-color: #000000;
    color: plum;
}

.nice h1 {
    font-size: 70px; 
    margin: 0%;
    color: #000;
}
h1{
    
    font-family:'Times New Roman', Times, serif ;
    color: #dda0dd; 
    font-size: 50px;  
}
.fav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.my{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: rgb(0, 0, 0);
    
}
.my li{
    font-size: 30px;
}
.my ul{
    font-size: 40px;
}

.box{
    border-style: solid;
    border-radius: 20px;
    margin: 10px;
    border-color: #ffffff;
    padding: 0 2em 0;
    background-color: pink;
    width: 350px;
}
.box li{
    font-size: 25px;
}
.cer-con img{
    width: 22rem;
    height: auto;
    border-radius: 1.5em;

}
.mycon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    width: 100vw;
    height: 100vh;
    
}
.mycon h1{
    border-radius: 20rem;
    border-style: solid;
    border-color: #bd91c9;
    height: 1.25em;
    padding: 25px;
}
.mycer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.mycer h1{
    margin: 81px 0px 30px 0px;
}
.cer-con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}
.con-con{
    display: flex;
    flex-direction: column;
    justify-self: left;
    align-items: start;
    /* border-style: solid;
    border: #ffffff;
    border-color: #ffffff; */
    border: 5px solid pink;
    width: 30em;
    border-radius: 20px;
    padding: 20px;
    background-color: plum;
    color: #ffffff;
}
.con-con img{
    width: 50px;
    height: 50px;
}
.con-con a{
    text-decoration: none;
    
}
.linked-icon{
    display: flex;
    align-items: center;

}
.linked-icon p {
    margin: 10px 0;
    color: white;
}
.con-con p{
    color: #ffffff;
    margin: 10px;
}
.menu{
    display: flex;
    justify-content: center;
    top: 0;
    position: sticky;   
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0) ;
    border-radius: 15em;
    width: 80%;
    text-align: center;
    align-items: center;



}
.menu ul{
    display: flex;
    justify-content: space-between ;
    padding: 0;
   
}
.menu li{
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    

    
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
}
.menu a:hover{
    color: #dda0dd;
    font-size: 27px;
}
html{
    scroll-behavior: smooth;
}
.cen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    position: sticky;
}
.animate-text {
    animation: fadeInMove 2s ease-in-out infinite alternate;
}

/* การกำหนด @keyframes */
@keyframes fadeInMove {
    0% {
        opacity: 0; /* เริ่มต้นด้วยความโปร่งใส */
        transform: translateX(20px); /* ขยับลงเล็กน้อย */
    }
    100% {
        opacity: 1; /* ปรากฏขึ้น */
        transform: translateY(0); /* กลับมาที่ตำแหน่งเดิม */
    }
}
@media (max-width : 992px) {
    .my{
        height: auto;
        width: 100%;
        margin-top: 25%;
    }
    .menu{
        width: 70%;
    }
    .nice{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10%;
    }
    .fav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    .box{
        
    }
    .cer-con{
        display: flex;
        flex-wrap: wrap;
    }
   
    .mycon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 25%;
        
    }
    .mycer{
        width: 100%;
        margin-top: 50%;
    }
}
@media (max-width : 1200px){
    *{
        justify-content: center;
    }
    .nice{
        width: 100%;
        
    }
    .my{
        
    }
}
@media (max-width : 650px) {        
    .mycon{
        width: 100%;
        margin: 10%;
    }
}